<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <title>WikiApp</title>
  </head>
  <body class="dark">
    <div class="topnav">
      <a href="/">Search </a>
      <a class="active" href="/template">Templates</a>
    </div>
    <div
      class="intro"
      style="color: white; margin-top: 30px; font-size: large;"
    >
      Generated templates are available for pages belonging to CEO category of
      Wikipedia.Enter the title of the page to view the generated template.
      <form action="#" method="POST">
        <label for="title">Title: </label>
        <input type="text" id="title" name="title" /><br />
        <input type="submit" value="Submit" />
      </form>
      {{search}}
      <br />
      <br />
      {{message}}
    </div>
  </body>
</html>
